<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Mania</title>
    <link rel="stylesheet" text="text/css" href="\css\index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <script>
        function openNav() {
          document.getElementById("mySidepanel").style.width = "170px";
        }
        
        function closeNav() {
          document.getElementById("mySidepanel").style.width = "0";
        }
        </script>
    <header>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/ourservices">Our Services</a>
            <a href="/login">Book an Appointment</a>
        </div>
        <button class="openbtn" onclick="openNav()"> ☰ </button>
        <span class="mania"><b>Vehicle Mania</b></span>
    </header>
    <section>
        <div>
        <img src="\images\pic1.jpg" width="1349px" height="550px"></div>
        <div>
        <h1 class="w3-xxlarge w3-text-white quote">
            <span class="w3-padding w3-black w3-opacity-min"><b>VEHICLE MANIA</b></span></h1>
        <p class="para"><b>We are on a mission to repair every vehicle on the earth.</b></p></div>
        <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <div class="w3-row-padding">
        <div class="w3-col m6">
            <h1 class="service"><b>Our Services</b></h1>
            <p class="para1">We offer full Auto-Repair and Maintenance Service.</p></br><br>
            <h3 class="periodic">
            1) Periodic service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) AC Service & Batteries
            </h3><br>
            <h3 class="periodic">
            3) Tyres & Wheel Care&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) Cleaning & Detailing
            </h3><br>
            <h3 class="periodic">
            5) Glass & Custom Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;6) Denting and Painting
            </h3></div>
        <div class="w3-col m6">
            <img class="w3-image w3-round-large" src="\images\pic6.jpg">
            <div class="image">
                <a href="/login" title="Book an Appointment" class="book">Book an Appointment</a>
            </div>
        </div>
        </div>
        </div>
    </section>
    <footer>
            <h1 class="contact">Contact Us</h1>
            <br>
            <div>
            <p class="para1">Email:-&nbsp;<a href="mailto:vehiclemaina12@gmail.com">vehiclemania12@gmail.com</a></p><br>
            <p class="para1">Phone:-&nbsp;<a href="tel:9899463165">+919899463165</a></p></div>
            <br>
    </footer>
</body>
</html>