<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Mania</title>
    <link rel="stylesheet" text="text/css" href="\css\about_service.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


    <script>
        function openNav() {
          document.getElementById("mySidepanel").style.width = "170px";
        }
        
        function closeNav() {
          document.getElementById("mySidepanel").style.width = "0";
        }
        </script>
    <header>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/">Home</a>
            <a href="/aboutus">About Us</a>
            <a href="/ourservices">Our Services</a>
            <a href="/login">Book an Appointment</a>
        </div>
        <button class="openbtn" onclick="openNav()"> ☰ </button>
        <span class="mania"><b>Vehicle Mania</b></span>
    </header>
    <section>
    <img src="\images\pic11.jpg"  width="1349px" height="200px">
    <h1 class="about"><b>OUR SERVICES</b></h1>
        <img class="img1 img2" src="\images\periodic.png" width="150px" height="125px">
        <h3 class="img1 periodic">1)&nbsp;&nbsp;<u>Periodic Service</u></h3>
        <p class="img1 p1">Regular vehicle maintenance helps optimize the performance, reliability, safety and
        durability of the car, while ensuring a good resale value. Through regular vehicle inspections and maintenance,
        the overall performance of the vehicle can be optimized. In this service we provide car wash, air filter 
        replacement, engine oil replacement, wheel balancing, battery water top up, gear oil top up and interior vaccuming.
        </p>
        
        <img class="img1 img3" src="\images\AC.png" width="140px" height="130px">
        <h3 class="img1 ac">2)&nbsp;&nbsp;<u>AC Service & Batteries</u></h3>
        <p class="img1 p2">Air Conditioning systems require maintenance to continue functioning well. We offer the best
        car AC repair services at affordable prices which include compressor check, fixing refrigerant leaks and more.
        Complete battery health checkup and servicing.</p>

        <img class="img1 img4" src="\images\tyre.png" width="140px" height="100px">
        <h3 class="img1 tyre">3)&nbsp;&nbsp;<u>Tyres & Wheel Care</u></h3>
        <p class="img1 p3">Wheels get damaged from a variety of causes including bad roads and potholes, leading to 
        misalignment. Hence the wheels of your car need regular attention for you to ensure proper wheel alignment and 
        balancing.Experts help you maximize the life of your car wheels by providing a wide range of wheel care services,
        to ensure the safety of your car and you.</p>

        <img class="img1 img5" src="\images\cleaning.png" width="140px" height="110px">
        <h3 class="img1 cleaning">4)&nbsp;&nbsp;<u>Cleaning & Detailing</u></h3>
        <p class="img1 p4">We offer an extensive range of car wash and cleaning services. Our car grooming packages
        include a complete range of services right from basic car washing to detailed interior and upholstery cleaning,
        protective coating, vacuuming and dashboard polishing.Our workshops make use of high quality cleaning products 
        and best equipments including the latest in technology.</p>

        <img class="img1 img6" src="\images\glass.png" width="140px" height="120px">
        <h3 class="img1 glass">5)&nbsp;&nbsp;<u>Glass & Custom Service</u></h3>
        <p class="img1 p5" >Thorough cleaning of the windsheild glass (removes stains and dirt).
        We also provide replacement of the windsheild glass in case of cracks or blurred vision(Depends on the 
        availibility). You can also go for an add-on pack that includes the side mirrors, all the windows and the rear
        windsheild also. We also provide detailing choices on the front and the rear windsheilds.</p>

        <img class="img1 img7" src="\images\denting.png" width="140px" height="120px">
        <h3 class="img1 denting">6)&nbsp;&nbsp;<u>Denting and Painting</u></h3>
        <p class="img1 p6">Car wash Shampoo offers combined foam boosters for all kinds of deep surface cleaning. As soon
             as the product gets to work, it starts breaking down surface grime quite effectively. The soil is kept 
             suspended in the liquid solution until washed away with clean water. The selected material used in
              manufacturing helps expel excess water from the surface making drying time faster.</p>
    </section>
    

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
            <h1 class="contact">Contact Us</h1>
            <br>
            <div>
            <p class="para1">Email:-&nbsp;<a href="mailto:vehiclemaina12@gmail.com">vehiclemania12@gmail.com</a></p><br>
            <p class="para1">Phone:-&nbsp;<a href="tel:9899463165">+919899463165</a></p></div>
            <br>
    </footer>
</body>
</html>